@keyframes slidebubble {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
    opacity: 0.9;
  }
}
@keyframes rightslide {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.position {
  background: linear-gradient(0deg, #eaeaea 95%, #c4c2c2 100%);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
}

.explain {
  background-color: #f6f6f6;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}
.explain__slogan1 {
  font-weight: 700;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.3em;
  padding-left: 10%;
  padding-right: 10%;
}
.explain__slogan2 {
  font-weight: 200;
  font-size: 1em;
  margin-bottom: 1.5em;
}

.top {
  display: flex;
  flex-direction: column;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
  margin-bottom: -15px;
}

.logo__menu {
  height: 35px;
}

.header__menu__arrow {
  position: absolute;
  left: 20px;
  top: 35px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
  height: 63px;
}

.png__crop {
  width: 100%;
  height: auto;
}

.pngh__croph {
  object-fit: cover;
  object-position: 0 -225px;
  width: 100%;
  height: 350px;
}

.box {
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  background-color: #3a3a3a;
  color: white;
}
.box__footer {
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 30px;
  margin-bottom: 10px;
}
.box__footer .fas {
  padding-right: 10px;
}
.box__footer .fa {
  padding-right: 4px;
}
.box__footer__logo {
  padding-bottom: 15px;
  filter: invert(100%);
}
.box__footer__logo .grayscale {
  width: 150px;
}

.box3__targetresto {
  color: white;
  border-radius: 40px;
  background: linear-gradient(-1deg, #9356dc 0%, #ff79da 45%);
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0.9em;
  font-family: Roboto;
  opacity: 1;
  border-style: none;
  border-color: transparent;
  box-shadow: 0px 5px 5px #aaaaaa;
  margin-left: 20%;
  margin-right: 20%;
}
.box3__targetresto:active {
  box-shadow: 0 0 0 1pt rgba(0, 0, 0, 0.5);
}
.box3__targetresto:hover {
  cursor: pointer;
}

/* menu restaurant */
body {
  font-family: Roboto;
  font-size: 1.5rem;
  margin: 0;
}

.title {
  padding-top: 40px;
  padding-left: 25px;
  font-weight: 300;
  margin-bottom: -10px;
}

.funct-global {
  display: flex;
  flex-direction: column;
}
.funct__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  background: #f6f6f6;
  font-family: Roboto;
  border-color: #f6f6f6;
  border-color: transparent;
  box-shadow: -4px 5px 5px #f0f0f0;
  opacity: 0.8;
  border-style: none;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 35px;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
}
.funct__box:hover {
  background: #f5edff;
}
.funct__box:hover .fas {
  color: #9356dc;
}
.funct__box__message {
  font-size: 1.5em;
}
.funct__box__text {
  position: absolute;
  font-size: 1.2em;
  font-weight: 400;
  border-radius: 50%;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: -10px;
  background-color: #9356dc;
  color: white;
}
.funct__box .fas {
  align-items: center;
  padding-right: 30px;
  padding-left: 10%;
  color: grey;
}

.restaurant {
  background-color: #f6f6f6;
  align-items: left;
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
}
.restaurant__box {
  display: flex;
  flex-direction: column;
}

.restaurant__box {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  margin-left: 25px;
  margin-right: 25px;
}
.restaurant__box__pictw {
  height: 14rem;
  object-fit: cover;
  object-position: 0% 90%;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
}
.restaurant__box__picth {
  height: 14rem;
  object-fit: cover;
  object-position: 0% 60%;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
}
.restaurant__box__new {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.restaurant__box__new__pictw {
  height: 14rem;
  object-fit: cover;
  object-position: 0% 90%;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
}
.restaurant__box__new__picth {
  height: 14rem;
  object-fit: cover;
  object-position: 0% 60%;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
}
.restaurant__box__new__text {
  position: absolute;
  background-color: #99e2d0;
  color: #179576;
  border-radius: 3px;
  font-size: 0.8em;
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 15px;
  margin-right: 15px;
}
.restaurant__box__card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
}
.restaurant__box__card__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-left: 15px;
}
.restaurant__box__card__bottom__heart__empty {
  margin-right: 20px;
  border: none;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}
.restaurant__box__card__bottom__heart__empty .far {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  border-color: none;
  border: none;
  color: gray;
}
.restaurant__box__card__bottom__heart__empty .fa {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  border-color: none;
  border: none;
}
.restaurant__box__card__bottom__heart__empty:hover .far {
  visibility: hidden;
  opacity: 1;
  transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
}
.restaurant__box__card__bottom__heart__empty:hover .fa {
  visibility: visible;
  opacity: 1;
  transition: visibility 2s ease-out, opacity 2s ease-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}
.restaurant__box__card__bottom__name {
  font-weight: 700;
}
.restaurant__box__card__bottom__spot {
  margin-top: 5px;
  font-weight: 200;
  font-size: 0.9em;
}

.restaurant .title {
  padding-bottom: 10px;
}

.link:link,
.link:visited,
.link:hover,
.link:active {
  color: currentColor;
  text-decoration: none;
}

.menu {
  border-style: none;
  position: relative;
  margin-top: -70px;
  background: #f6f6f6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-left: 25px;
  padding-right: 25px;
}
.menu__top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 50px;
}
.menu__top__name {
  font-family: Shrikhand;
  font-size: 1.6em;
}
.menu__list__spec {
  font-size: 0.9em;
  padding-top: 40px;
}
.menu__list__hrline {
  margin-top: 5px;
  border-top-style: solid;
  border-color: #99e2d0;
  border-width: 4px;
  width: 55px;
}
.menu__list__bubble {
  opacity: 0;
  margin-top: 18px;
  margin-bottom: 21px;
  display: flex;
  flex-direction: row;
  flex: auto;
  transition: flex-basis 3s linear;
  align-items: center;
  border-radius: 20px;
  background-color: #ffffff;
  border-style: none;
  border-color: transparent;
  box-shadow: 0px 5px 5px #cfcfcf;
}
.menu__list__bubble__dish {
  background-color: #ffffff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-radius: 20px;
  padding-left: 15px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: auto;
}
.menu__list__bubble__dish__title {
  display: flex;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}
.menu__list__bubble__dish__desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.menu__list__bubble__dish__desc__text {
  padding-top: 3px;
  font-weight: 300;
  font-size: 0.8em;
  overflow: hidden;
  white-space: initial;
  text-overflow: ellipsis;
}
.menu__list__bubble__dish__desc__price {
  font-weight: 700;
  font-size: 0.8em;
  padding-left: 10px;
}
.menu__list__bubble__check {
  visibility: visible;
  opacity: 0;
}
.menu__list__bubble__check .fas {
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.3 ease-out;
  font-size: 0em;
}
.menu__list__bubble:hover {
  cursor: pointer;
  background-color: #99e2d0;
  flex-direction: row;
  transition: all 1s;
}
.menu__list__bubble:hover .dish-hover {
  transition: ease-out;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.menu__list__bubble:hover .dish-hover .menu__list__bubble__dish__desc__text {
  padding-top: 3px;
  font-weight: 300;
  font-size: 0.8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__list__bubble:hover .check-hover {
  animation-name: rightslide;
  animation-duration: 0.8s;
  visibility: visible;
  opacity: 1;
  margin-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
  transition-delay: 0.15s;
}
.menu__list__bubble:hover .check-hover .fas {
  padding-left: 20px;
  padding-right: 20px;
  visibility: visible;
  opacity: 1;
  transform: rotate(360deg);
  transition: transform 1s ease;
  font-size: 27px;
}
.menu .order {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu .order__position {
  margin-bottom: 55px;
  margin-top: 40px;
}
.menu .order .box3__targetresto {
  margin-left: 0;
  margin-right: 0;
  padding-left: 75px;
  padding-right: 75px;
}

.one {
  transform: translateY(1);
  animation-name: slidebubble;
  animation-duration: 0.8s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  transition-timing-function: ease;
}

.two {
  transform: translateY(1);
  animation-name: slidebubble;
  animation-duration: 0.8s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  transition-timing-function: ease;
}

.three {
  transform: translateY(1);
  animation-name: slidebubble;
  animation-duration: 0.8s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transition-timing-function: ease;
}

.four {
  transform: translateY(1);
  animation-name: slidebubble;
  animation-duration: 0.8s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
  transition-timing-function: ease;
}

/*# sourceMappingURL=style.css.map */
