@keyframes slidebubble {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
    opacity: 0.9;
  }
}
@keyframes rightslide {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(-30%);
    opacity: 1;
  }
}
.position {
  background: linear-gradient(0deg, #eaeaea 95%, #c4c2c2 100%);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 0.9em;
}
.position .fas {
  padding-right: 22px;
}

.explain {
  background-color: #f6f6f6;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.2em;
  font-size: 1.5em;
}
.explain__slogan1 {
  font-weight: 900;
  font-size: 1em;
  margin-top: 1.5em;
  margin-bottom: 0.3em;
  padding-left: 10%;
  padding-right: 10%;
}
.explain__slogan2 {
  font-weight: 200;
  font-size: 0.6em;
  margin-bottom: 1.5em;
}

.top {
  display: flex;
  flex-direction: column;
}
.top .box1 {
  margin-bottom: -20px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
  margin-bottom: -15px;
}

.header__menu__arrow {
  position: absolute;
  left: 50px;
  top: 50px;
}
.header__menu__arrow .fa {
  font-size: 60px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
  height: 63px;
}

.png__crop {
  width: 100%;
  height: auto;
}

.pngh__croph {
  object-fit: cover;
  object-position: 0 -225px;
  width: 100%;
  height: 350px;
}

.box {
  padding-top: 70px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  background-color: #3a3a3a;
  color: white;
}
.box__footer {
  font-family: Roboto;
  font-size: 0.7em;
  font-weight: 400;
  margin-left: 50px;
  margin-bottom: 10px;
  padding-bottom: 8px;
  color: inherit !important;
  text-decoration: none !important;
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
.box__footer .a {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
.box__footer .fas {
  padding-right: 10px;
}
.box__footer .fa {
  padding-right: 4px;
}
.box__footer__logo {
  padding-bottom: 15px;
  filter: invert(100%);
}
.box__footer__logo .grayscale {
  width: 250px;
}

.box3__targetresto {
  color: white;
  border-radius: 60px;
  background: linear-gradient(-3deg, #9356dc 20%, #ff79da 85%);
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 0.5em;
  font-family: Roboto;
  opacity: 1;
  border-style: none;
  border-color: transparent;
  box-shadow: 0px 5px 5px #aaaaaa;
  margin-left: 260px;
  margin-right: 260px;
}
.box3__targetresto:active {
  box-shadow: 0 0 0 1pt rgba(0, 0, 0, 0.5);
}
.box3__targetresto:hover {
  cursor: pointer;
}

/* menu restaurant */
body {
  font-family: Roboto;
  font-size: 3rem;
  margin: 0;
}

.title {
  padding-top: 60px;
  padding-left: 45px;
  font-weight: 900;
  margin-bottom: -10px;
}

.funct-global {
  display: flex;
  flex-direction: column;
}
.funct__white {
  padding: 60px;
}
.funct__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50px;
  background: #f6f6f6;
  font-family: Roboto;
  border-color: #f6f6f6;
  border-color: transparent;
  box-shadow: 10px 15px 15px #f0f0f0;
  opacity: 0.8;
  border-style: none;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
}
.funct__box:hover {
  background: #f5edff;
}
.funct__box:hover .fas {
  color: #9356dc;
}
.funct__box__message {
  font-size: 2.7em;
  padding-left: 50px;
}
.funct__box__text {
  position: absolute;
  font-size: 1.8em;
  font-weight: 400;
  border-radius: 80px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: -12px;
  background-color: #9356dc;
  color: white;
}
.funct__box .fas {
  align-items: center;
  padding-right: 30px;
  padding-left: 10%;
  color: grey;
  font-size: 40px;
}

.restaurant {
  background-color: #f6f6f6;
  align-items: left;
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
}
.restaurant__box {
  display: flex;
  flex-direction: column;
}

.restaurant__box {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.restaurant__box__pictw {
  object-fit: cover;
  object-position: 0% 90%;
  max-width: 100%;
  width: 100%;
  height: 470px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
}
.restaurant__box__picth {
  object-fit: cover;
  object-position: 0% 60%;
  max-width: 100%;
  width: 100%;
  height: 470px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
}
.restaurant__box__new {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.restaurant__box__new__pictw {
  height: 14rem;
  object-fit: cover;
  object-position: 0% 90%;
  max-width: 100%;
  width: 100%;
  height: 470px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
}
.restaurant__box__new__picth {
  height: 14rem;
  object-fit: cover;
  object-position: 0% 60%;
  max-width: 100%;
  width: 100%;
  height: 470px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
}
.restaurant__box__new__text {
  position: absolute;
  background-color: #99e2d0;
  color: #179576;
  border-radius: 3px;
  font-size: 0.8em;
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 25px;
  margin-right: 25px;
}
.restaurant__box__card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
}
.restaurant__box__card__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 25px;
}
.restaurant__box__card__bottom__heart__empty {
  margin-right: 20px;
  border: none;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}
.restaurant__box__card__bottom__heart__empty .far {
  visibility: visible;
  opacity: 1;
  font-size: 5em;
  padding-right: 20px;
  cursor: pointer;
  border-color: none;
  border: none;
  color: gray;
}
.restaurant__box__card__bottom__heart__empty .fa {
  font-size: 5em;
  position: absolute;
  visibility: hidden;
  padding-right: 20px;
  opacity: 0;
  cursor: pointer;
  border-color: none;
  border: none;
}
.restaurant__box__card__bottom__heart__empty:hover .far {
  visibility: hidden;
  opacity: 1;
  transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
}
.restaurant__box__card__bottom__heart__empty:hover .fa {
  visibility: visible;
  opacity: 1;
  transition: visibility 2s ease-out, opacity 2s ease-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}
.restaurant__box__card__bottom__name {
  font-weight: 700;
}
.restaurant__box__card__bottom__spot {
  margin-top: 5px;
  font-weight: 200;
  font-size: 0.9em;
}

.restaurant .title {
  padding-bottom: 10px;
}

.link:link,
.link:visited,
.link:hover,
.link:active {
  color: currentColor;
  text-decoration: none;
}

.menu {
  border-style: none;
  position: relative;
  margin-top: -70px;
  background: #f6f6f6;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  padding-left: 35px;
  padding-right: 35px;
}
.menu__top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 100px;
  margin-top: -100px;
  padding-bottom: 50px;
}
.menu__top__name {
  font-family: Shrikhand;
  font-size: 1.6em;
}
.menu__list__spec {
  font-size: 0.9em;
  padding-top: 40px;
}
.menu__list__hrline {
  margin-top: 5px;
  border-top-style: solid;
  border-color: #99e2d0;
  border-width: 10px;
  width: 100px;
}
.menu__list__bubble {
  opacity: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex: auto;
  transition: flex-basis 3s linear;
  align-items: center;
  border-radius: 40px;
  background-color: #ffffff;
  border-style: none;
  border-color: transparent;
  box-shadow: 0px 5px 5px #cfcfcf;
}
.menu__list__bubble__dish {
  background-color: #ffffff;
  border-radius: 40px;
  padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  flex: auto;
  overflow: hidden;
}
.menu__list__bubble__dish__title {
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}
.menu__list__bubble__dish__desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.menu__list__bubble__dish__desc__text {
  padding-top: 3px;
  font-weight: 300;
  font-size: 0.8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__list__bubble__dish__desc__price {
  font-weight: 700;
  font-size: 0.8em;
  padding-left: 10px;
}
.menu__list__bubble__check {
  visibility: visible;
  opacity: 0;
}
.menu__list__bubble__check .fas {
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.3 ease-out;
  font-size: 0em;
}
.menu__list__bubble:hover {
  cursor: pointer;
  background-color: #99e2d0;
  flex-direction: row;
  transition: all 1s;
}
.menu__list__bubble:hover .dish-hover {
  transition: ease-out;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.menu__list__bubble:hover .check-hover {
  animation-name: rightslide;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  visibility: visible;
  opacity: 1;
  margin-top: 5px;
  padding-left: 90px;
  transition-delay: 0.15s;
}
.menu__list__bubble:hover .check-hover .fas {
  visibility: visible;
  opacity: 1;
  transform: rotate(360deg);
  transition: transform 1s ease;
  font-size: 55px;
}
.menu .order {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu .order__position {
  margin-bottom: 80px;
  margin-top: 80px;
}
.menu .order .box3__targetresto {
  margin-left: 0;
  margin-right: 0;
  padding-left: 75px;
  padding-right: 75px;
  font-size: 0.9em;
}

.one {
  transform: translateY(1);
  animation-name: slidebubble;
  animation-duration: 0.8s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  transition-timing-function: ease;
}

.two {
  transform: translateY(1);
  animation-name: slidebubble;
  animation-duration: 0.8s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  transition-timing-function: ease;
}

.three {
  transform: translateY(1);
  animation-name: slidebubble;
  animation-duration: 0.8s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transition-timing-function: ease;
}

.four {
  transform: translateY(1);
  animation-name: slidebubble;
  animation-duration: 0.8s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
  transition-timing-function: ease;
}

.preloader_bg {
  position: fixed;
  background-color: #eaeaea;
  width: 100%;
  height: 100%;
  z-index: 1001;
  animation: loader 1.3s ease;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes loader {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
.loader,
.loader:before,
.loader:after {
  background: #99e2d0;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 6em;
}

.loader {
  color: #99e2d0;
  text-indent: -9999em;
  margin: 50%;
  position: relative;
  font-size: 30px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%, 80%, 100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/*# sourceMappingURL=style.css.map */
