@mixin header-button() {
  color: white;
  border-radius: 40px;

  background: linear-gradient(-1deg, $purple 0%, $pink 45%);
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0.9em;
  font-family: Roboto;
  opacity: 1;

  border-style: none;
  border-color: transparent;
  box-shadow: 0px 5px 5px #aaaaaa;
  &:active {
    box-shadow: 0 0 0 1pt rgba(0, 0, 0, 0.5);
  }
}

@mixin roundbox() {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
  background: $greybox;
  font-family: Roboto;
  border-color: $greybox;

  border-color: transparent;
  box-shadow: -4px 5px 5px $greyboxshadow;
  opacity: 0.8;
  border-style: none;
  padding-top: 32px;
  padding-bottom: 32px;

  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 35px;
  margin-right: 20px;

  font-size: 1rem;
  font-weight: 700;
  text-align: left;

  &:hover {
    background: #f5edff;
    .fas {
      color: $purple;
    }
  }
}

@mixin title {
  padding-top: 40px;
  padding-left: 25px;
  font-weight: 300;
  margin-bottom: -10px;
}
@mixin heart-crop() {
  cursor: pointer;
  border-color: none;
  border: none;
}
@mixin heart-full {
  .fa {
    visibility: visible;
    opacity: 1;
    transition: visibility 2s ease-out, opacity 2s ease-out;

    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from($purple),
      to($pink)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
  }
}
