$topgrey: #eaeaea;

$purple: #9356dc;
$pink: #ff79da;
$greybox: #f6f6f6;
$greyboxshadow: #f0f0f0;
$green: #99e2d0;

@keyframes slidebubble {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
    opacity: 0.9;
  }
}
@keyframes rightslide {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(-30%);
    opacity: 1;
  }
}
