@import "abstracts/variables";
@import "abstracts/mixins";

@import "vendors/bootstrap";

@import "base/reset";
@import "base/typography";

@import "layout/navigation";
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/forms";

@import "components/buttons";
@import "components/carousel";
@import "components/cover";
@import "components/dropdown";

@import "pages/home";
@import "pages/contact";

@import "themes/theme";
@import "themes/admin";

body {
  font-family: Roboto;
  font-size: 1.5rem;
  margin: 0;
}

.title {
  @include title;
}

.funct {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  &__box {
    @include roundbox;
    &__message {
      font-size: 1.5em;
      margin-top: 1.5%;
    }
    &__N {
      position: absolute;
      margin-left: -3%;
      margin-top: 1%;
      color: $purple;

      font-family: Roboto;
    }
    &__text {
      position: absolute;
      margin-left: -1%;
      margin-top: 2%;
      font-size: 1.2em;
      font-weight: 400;

      color: white;
    }

    & .fas {
      align-items: center;
      padding-right: 30px;
      padding-left: 10%;
      color: grey;
      margin-top: 1.5%;
    }
  }
}
.restaurant {
  background-color: $greybox;
  align-items: left;
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;

  &__box {
    display: flex;
    flex-direction: column;
  }
}
.restaurant__box {
  display: flex;
  flex-direction: column;

  padding-bottom: 2rem;
  margin-left: 25px;
  margin-right: 25px;

  &__pictw {
    height: 14rem;

    object-fit: cover;
    object-position: 0% 90%;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
  }
  &__picth {
    height: 14rem;

    object-fit: cover;
    object-position: 0% 60%;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
  }
  &__new {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__pictw {
      height: 14rem;

      object-fit: cover;
      object-position: 0% 90%;
      max-width: 100%;
      width: 100%;
      max-height: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
    }
    &__picth {
      height: 14rem;

      object-fit: cover;
      object-position: 0% 60%;
      max-width: 100%;
      width: 100%;
      max-height: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
    }
    &__text {
      position: absolute;
      background-color: #99e2d0;
      color: #179576;
      border-radius: 3px;
      font-size: 0.8em;
      font-weight: 700;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-top: 15px;
      margin-right: 15px;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);

    &__bottom {
      display: flex;
      flex-direction: row;

      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 20px;

      padding-left: 15px;

      &__heart__empty {
        margin-right: 20px;
        border: none;
        border-style: none;
        border-color: transparent;
        background-color: transparent;
        cursor: pointer;

        & .far {
          @include heart-crop;
          color: gray;
        }
        & .fa {
          @include heart-crop;
          display: none;
        }

        &:hover {
          .far {
            display: none;
          }
          @include heart-full;
        }
        &:focus {
          outline: none;
          border: none;
          border-style: none;
          border-color: transparent;
          background-color: transparent;
          .far {
            display: none;
          }
          @include heart-full;
        }
      }

      &__name {
        font-weight: 700;
      }
      &__spot {
        margin-top: 5px;
        font-weight: 200;
        font-size: 0.9em;
      }
    }
  }
}
.restaurant .title {
  padding-bottom: 10px;
}
.link:link,
.link:visited,
.link:hover,
.link:active {
  color: currentColor;
  text-decoration: none;
}
.menu {
  border-style: none;
  position: relative;
  margin-top: -70px;
  background: $greybox;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-left: 25px;
  padding-right: 25px;
  &__top {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding-top: 50px;
    &__name {
      font-family: Shrikhand;
      font-size: 1.6em;
    }
  }
  &__list {
    &__spec {
      font-size: 0.9em;
      padding-top: 40px;
    }
    &__hrline {
      margin-top: 5px;
      border-top-style: solid;
      border-color: $green;
      border-width: 4px;
      width: 55px;
    }
    &__bubble {
      margin-top: 18px;
      margin-bottom: 21px;
      display: flex;
      flex-direction: row;
      align-items: center;

      border-radius: 20px;
      background-color: #ffffff;
      border-style: none;
      border-color: transparent;
      box-shadow: 0px 5px 5px #cfcfcf;

      &__dish {
        background-color: #ffffff;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-radius: 20px;
        min-width: 92%;

        padding-left: 15px;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        &__title {
          font-weight: 700;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-bottom: 2px;
        }
        &__desc {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          &__text {
            padding-top: 3px;
            font-weight: 300;
            font-size: 0.8em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          &__price {
            font-weight: 700;
            font-size: 0.8em;
          }
        }
      }
      &__check {
        visibility: hidden;
      }
      &:hover {
        cursor: pointer;
        background-color: $green;
        & .dish-hover {
          max-width: 78%;
          min-width: 78%;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
        & .check-hover {
          visibility: visible;

          padding-left: 20px;
          margin-top: 5px;

          & .fas {
            visibility: visible;
            color: #ffffff;
          }
        }
      }
    }
  }
  & .order {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__position {
      margin-bottom: 55px;
      margin-top: 40px;
    }
    & .box3__targetresto {
      margin-left: 0;
      margin-right: 0;
      padding-left: 75px;
      padding-right: 75px;
    }
  }
}
