@import "abstracts/variables";
@import "abstracts/mixins";

@import "vendors/bootstrap";

@import "base/reset";
@import "base/typography";

@import "layout/navigation";
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/forms";

@import "components/buttons";
@import "components/carousel";
@import "components/cover";
@import "components/dropdown";

@import "pages/home";
@import "pages/contact";

@import "themes/theme";
@import "themes/admin";

body {
  font-family: Roboto;
  font-size: 3rem;
  margin: 0;
}

.title {
  @include title;
}

.funct {
  &-global {
    display: flex;
    flex-direction: column;
  }
  &__white {
    padding: 60px;
  }

  &__box {
    @include roundbox;

    &__message {
      font-size: 2.7em;
      padding-left: 50px;
    }

    &__text {
      position: absolute;
      font-size: 1.8em;
      font-weight: 400;
      border-radius: 80px;
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 12px;
      padding-right: 12px;
      margin-left: -12px;
      background-color: $purple;
      color: white;
    }

    & .fas {
      align-items: center;
      padding-right: 30px;
      padding-left: 10%;
      color: grey;
      font-size: 40px;
    }
  }
}
.restaurant {
  background-color: $greybox;
  align-items: left;
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;

  &__box {
    display: flex;
    flex-direction: column;
  }
}
.restaurant__box {
  display: flex;
  flex-direction: column;

  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;

  &__pictw {
    object-fit: cover;
    object-position: 0% 90%;
    max-width: 100%;
    width: 100%;
    height: 470px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
  }
  &__picth {
    object-fit: cover;
    object-position: 0% 60%;
    max-width: 100%;
    width: 100%;
    height: 470px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
  }
  &__new {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__pictw {
      height: 14rem;

      object-fit: cover;
      object-position: 0% 90%;
      max-width: 100%;
      width: 100%;
      height: 470px;
      border-top-left-radius: 35px;
      border-top-right-radius: 35px;
      box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
    }
    &__picth {
      height: 14rem;

      object-fit: cover;
      object-position: 0% 60%;
      max-width: 100%;
      width: 100%;
      height: 470px;
      border-top-left-radius: 35px;
      border-top-right-radius: 35px;
      box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);
    }
    &__text {
      position: absolute;
      background-color: #99e2d0;
      color: #179576;
      border-radius: 3px;
      font-size: 0.8em;
      font-weight: 700;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-top: 25px;
      margin-right: 25px;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    box-shadow: 0 3px 20px -9px rgba(0, 0, 0, 0.5);

    &__bottom {
      display: flex;
      flex-direction: row;

      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
      margin-bottom: 40px;

      padding-left: 25px;

      &__heart__empty {
        margin-right: 20px;
        border: none;
        border-style: none;
        border-color: transparent;
        background-color: transparent;
        cursor: pointer;

        & .far {
          visibility: visible;
          opacity: 1;
          font-size: 5em;
          padding-right: 20px;

          @include heart-crop;
          color: gray;
        }
        & .fa {
          font-size: 5em;
          position: absolute;
          visibility: hidden;
          padding-right: 20px;
          opacity: 0;
          @include heart-crop;
        }

        &:hover {
          .far {
            visibility: hidden;
            opacity: 1;
            transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
          }
          @include heart-full;
        }
      }

      &__name {
        font-weight: 700;
      }
      &__spot {
        margin-top: 5px;
        font-weight: 200;
        font-size: 0.9em;
      }
    }
  }
}
.restaurant .title {
  padding-bottom: 10px;
}
.link:link,
.link:visited,
.link:hover,
.link:active {
  color: currentColor;
  text-decoration: none;
}

.menu {
  border-style: none;
  position: relative;
  margin-top: -70px;
  background: $greybox;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  padding-left: 35px;
  padding-right: 35px;

  &__top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 100px;
    margin-top: -100px;
    padding-bottom: 50px;

    &__name {
      font-family: Shrikhand;
      font-size: 1.6em;
    }
  }
  &__list {
    &__spec {
      font-size: 0.9em;
      padding-top: 40px;
    }
    &__hrline {
      margin-top: 5px;
      border-top-style: solid;
      border-color: $green;
      border-width: 10px;
      width: 100px;
    }
    &__bubble {
      opacity: 0;
      margin-top: 40px;
      margin-bottom: 40px;
      display: flex;
      flex-direction: row;
      flex: auto;
      transition: flex-basis 3s linear;

      align-items: center;
      border-radius: 40px;
      background-color: #ffffff;
      border-style: none;
      border-color: transparent;
      box-shadow: 0px 5px 5px #cfcfcf;

      &__dish {
        background-color: #ffffff;

        border-radius: 40px;
        padding-left: 25px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 25px;
        display: flex;
        flex-direction: column;
        flex: auto;
        overflow: hidden;

        &__title {
          font-weight: 700;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-bottom: 2px;
        }
        &__desc {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;

          &__text {
            padding-top: 3px;
            font-weight: 300;
            font-size: 0.8em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          &__price {
            font-weight: 700;
            font-size: 0.8em;
            padding-left: 10px;
          }
        }
      }
      &__check {
        visibility: visible;
        opacity: 0;

        & .fas {
          color: #ffffff;
          visibility: hidden;
          opacity: 0;
          transition: transform 0.3 ease-out;
          font-size: 0em;
        }
      }
      &:hover {
        cursor: pointer;

        background-color: $green;

        flex-direction: row;
        transition: all 1s;

        & .dish-hover {
          transition: ease-out;
          border-top-left-radius: 40px;
          border-bottom-left-radius: 40px;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
        & .check-hover {
          animation-name: rightslide;
          animation-duration: 0.5s;
          animation-fill-mode: forwards;
          visibility: visible;
          opacity: 1;
          margin-top: 5px;
          padding-left: 90px;

          transition-delay: 0.15s;

          & .fas {
            visibility: visible;
            opacity: 1;
            transform: rotate(360deg);
            transition: transform 1s ease;
            font-size: 55px;
          }
        }
      }
    }
  }
  & .order {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__position {
      margin-bottom: 80px;
      margin-top: 80px;
    }
    & .box3__targetresto {
      margin-left: 0;
      margin-right: 0;
      padding-left: 75px;
      padding-right: 75px;
      font-size: 0.9em;
    }
  }
}
.one {
  transform: translateY(1);
  animation-name: slidebubble;
  animation-duration: 0.8s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  transition-timing-function: ease;
}
.two {
  transform: translateY(1);
  animation-name: slidebubble;
  animation-duration: 0.8s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
  transition-timing-function: ease;
}
.three {
  transform: translateY(1);
  animation-name: slidebubble;
  animation-duration: 0.8s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transition-timing-function: ease;
}
.four {
  transform: translateY(1);
  animation-name: slidebubble;
  animation-duration: 0.8s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
  transition-timing-function: ease;
}
