.box {
  padding-top: 70px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  background-color: rgb(58, 58, 58);
  color: white;

  &__footer {
    font-family: Roboto;
    font-size: 0.7em;
    font-weight: 400;
    margin-left: 50px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    color: inherit !important;
    text-decoration: none !important;
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;

    & .a {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }

    & .fas {
      padding-right: 10px;
    }
    & .fa {
      padding-right: 4px;
    }

    &__logo {
      padding-bottom: 15px;
      filter: invert(100%);
      .grayscale {
        width: 250px;
      }
    }
  }
}
